__pycache__/
*.py[cod]

.venv/
venv/
.env

.DS_Store
.idea/
.vscode/

models/*.onnx
outputs/
*_pose.jpg
*_pose.jpeg
*_pose.png
*_pose.mp4
*_pose.json

:memory:.ses

images/
videos/
results/

keypoint_config.json
